default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:json
                - Adictiz\Tests\Behat\ApiContext
                - Adictiz\Tests\Behat\UserContext
                - Adictiz\Tests\Behat\EventContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: Adictiz\Kernel
                environment: test
                debug: true
            bootstrap: tests/bootstrap.php
        DAMA\DoctrineTestBundle\Behat\ServiceContainer\DoctrineExtension: ~
        Behat\MinkExtension:
            base_url: 'http://localhost:8000'
            sessions:
              default:
                symfony: ~
        Behatch\Extension: ~
